<a href="https://colab.research.google.com/github/ginttone/test_visuallization/blob/master/1_autompg_pands_info.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

정보(데이터)단계

In [1]:
import pandas as pd

In [3]:
!pwd #현재 어느 디랙토리에 있니?

/content

In [5]:
!ls -l ./auto-mpg.csv #자세히보는 -l 현재 있느냐 ./

-rw-r--r-- 1 root root 21913 Jul  5 01:19 ./auto-mpg.csv

In [7]:
df=pd.read_csv('./auto-mpg.csv', header=None)

* ------------info구성
* Range index : 행의 사이즈 
* column : 각각의 구성
 * null의 count: non-null은 널이없다 표현
* dataset

In [11]:

df.info() #df의 모든것 보기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [10]:
df.describe()

                0           1           2  ...           5           6           7
count  398.000000  398.000000  398.000000  ...  398.000000  398.000000  398.000000
mean    23.514573    5.454774  193.425879  ...   15.568090   76.010050    1.572864
std      7.815984    1.701004  104.269838  ...    2.757689    3.697627    0.802055
min      9.000000    3.000000   68.000000  ...    8.000000   70.000000    1.000000
25%     17.500000    4.000000  104.250000  ...   13.825000   73.000000    1.000000
50%     23.000000    4.000000  148.500000  ...   15.500000   76.000000    1.000000
75%     29.000000    8.000000  262.000000  ...   17.175000   79.000000    2.000000
max     46.600000    8.000000  455.000000  ...   24.800000   82.000000    3.000000

[8 rows x 7 columns]

<데이터 구성의 분포 확인>

count       398 전체<br>
unique       94 유니크 카테고리<br>
top       150.0 카테고리가 150번반복<br>
freq         22<br>
Name: 3, dtype: object<br>

In [15]:
#위 데이터중 없는 컬럼 3 확인
df[3].describe()

count       398
unique       94
top       150.0
freq         22
Name: 3, dtype: object

<데이터 편중여부를 수치로 알수있다>
* top은 가장 많이 반복된 최고 높은 카테고리를 말하는데 
* 전체(행) 398개- 탑150 = 나머지 248개
* 데이터의 구성이  93개의 카테고리로 분할 되어있다는 것을 확인.

In [16]:
398 - 150.

248.0

In [17]:
df[8].describe()

count            398
unique           305
top       ford pinto
freq               6
Name: 8, dtype: object

In [18]:
#특정 위치 뽑아오기
#예)0컬럼 mean값만 뽑아오고 싶을때
df[0].mean()

23.514572864321615

In [20]:
#예)0컬럼 std값만 뽑아오고 싶을때
df[0].std()

7.815984312565782

In [21]:
#예)5컬럼 count값만 뽑아오고 싶을때
df[5].count()

398

In [22]:
#예)5컬럼 min값만 뽑아오고 싶을때
df[5].min()

8.0

In [23]:
#예)5컬럼 max값만 뽑아오고 싶을때
df[5].max()

24.8

교육단계

서비스 단계